<%- include('partials/header') %>

    <%- include('partials/menu') %>
        <div class="mt-2">
            <h2>Dashboard</h2>

            <p>Bem-vindo ao sistema de controle de estoque!</p>
        </div>

        <%- include('partials/footer') %>